<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<!-- FOOTER -->
<footer th:fragment="footer_fragment" id="main-footer" class="bg-dark text-white mt-5 p-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="lead text-center">
                    Copyright &copy; Lexicon <a href="?lang=sv"><img src="/images/sv.png" width="24" height="18" /> </a> - <a href="?lang=en"><img src="/images/en.png" width="24" height="18" /></a>
                </p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>